@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
.cta-ios {
  border: none;
  padding: 0.75rem 4.5rem;
  color: #ffffff;
  border-radius: 2rem;
  border-bottom: 4px solid #26a18e;
  background-color: hsl(171deg, 66%, 44%);
}
.cta-ios:hover {
  opacity: 0.75;
  cursor: pointer;
}

.cta-mac {
  border: none;
  padding: 0.75rem 4.5rem;
  color: #ffffff;
  border-radius: 2rem;
  border-bottom: 4px solid #616dcc;
  background-color: hsl(233deg, 100%, 69%);
}
.cta-mac:hover {
  opacity: 0.75;
  cursor: pointer;
}

.description-container {
  width: 100%;
  text-align: center;
  padding: 0.7rem;
}
.description-container .title {
  font-size: 1.8rem;
  color: hsl(210deg, 10%, 33%);
  margin-bottom: 1.5rem;
}
.description-container .description {
  color: hsl(201deg, 11%, 66%);
  line-height: 1.7rem;
}

.card-container {
  width: 100%;
  text-align: center;
  padding: 0.7rem;
}
.card-container img {
  margin-bottom: 3rem;
}
.card-container .card-title {
  font-size: 1.8rem;
  color: hsl(210deg, 10%, 33%);
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  font-weight: 600;
}
.card-container .card-description {
  color: hsl(201deg, 11%, 66%);
  line-height: 1.7rem;
}

.mac-descriptions {
  width: 100%;
  text-align: center;
  padding: 0.7rem;
}
.mac-descriptions .mac-title {
  font-size: 1.8rem;
  color: hsl(210deg, 10%, 33%);
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  font-weight: 600;
}
.mac-descriptions .mac-description {
  color: hsl(201deg, 11%, 66%);
  line-height: 1.7rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}

.header {
  position: relative;
  width: 100%;
  height: 20rem;
  overflow: hidden;
  margin-bottom: 3rem;
}
.header img {
  width: 100%;
}
.header .logo {
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  border: 7px solid hsl(171deg, 66%, 44%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .logo p {
  color: hsl(171deg, 66%, 44%);
  font-size: 5rem;
  font-weight: 600;
}

.cta-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 3rem;
  margin-bottom: 9rem;
}

.mac-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mac-container .mac-img-container {
  width: 80%;
}
.mac-container .mac-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.device-img-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.device-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-main {
  width: 100%;
}

.logos-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.logos-main-container .logo-container {
  width: 8rem;
  text-align: center;
}
.logos-main-container .logo-container img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.footer {
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .logo-sm {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 2.5rem;
  height: 2.5rem;
  margin: 2rem 0;
  border: 4px solid hsl(171deg, 66%, 44%);
  border-radius: 50%;
}
.footer .logo-sm p {
  position: absolute;
  top: 50%;
  color: hsl(171deg, 66%, 44%);
  transform: scale(2.7) translateY(-28%);
  font-weight: 600;
}
.footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer ul li {
  list-style: none;
}
.footer ul li a {
  text-decoration: none;
  color: hsl(210deg, 10%, 33%);
}
.footer ul li a:hover {
  cursor: pointer;
}
.footer .socials-container {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.footer .socials-container img {
  cursor: pointer;
}

.mt {
  margin-top: 3rem;
}

.mb {
  margin-bottom: 3rem;
}

.mbb {
  margin-bottom: 9rem;
}

/*# sourceMappingURL=styles.css.map */
