@use "./variables" as var;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var.$Family;
  font-size: var.$Font-size;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20rem;
  background-image: url("../assets/img/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .logo {
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 7px solid var.$Strong-Cyan;

    p {
      color: var.$Strong-Cyan;
      font-size: 5rem;
      font-weight: 600;
    }
  }

}

.cta-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: var.$ms;
  margin-bottom: var.$mb;
}

.mac-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .mac-img-container {
    width: 80%;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.device-img-container {
  width: 80%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.card-main {
  width: 100%;
}

.logos-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  .logo-container{
    width: 8rem;
    text-align: center;

    img {
      width: 80%;
      height: 80%;
      object-fit: contain;
    }
  }
}

.footer {
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo-sm {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 2.5rem;
    height: 2.5rem;
    margin: 2rem 0;
    border: 4px solid var.$Strong-Cyan;
    border-radius: 50% ;

    p {
      position: absolute;
      top: 50%;
      color: var.$Strong-Cyan;
      transform: scale(2.7) translateY(-28%);
      font-weight: 600;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: var.$Dark-Grayish-Blue;

        &:hover {
          cursor: pointer;
          color: var.$Strong-Cyan;
        }
      }
    }
  }

  .socials-container {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    img {
      cursor: pointer;
    }
  }
}

.mt {
  margin-top: var.$ms;
}

.mb {
  margin-bottom: var.$ms;
}

.mbb {
  margin-bottom: var.$mb;
}

@media (min-width: 768px) {
  .header {
    background-image: url("../assets/img/bg-header-desktop.png");
  }

  .cta-container {
    max-width: 640px;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }

}

@media (min-width: 1440px) {
  .mac-container {
    max-width: 1440px;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    margin-bottom: var.$ms;

    .mac-img-container {
      width: 100%;

      img {
        transform: translateX(-4%);
      }
    }

    .mac-description-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 2rem 5rem 0 2rem;

      & .mb, .mbb {
        margin: 0;
      }
    }
  }

  .card-main {
    width: 85%;
    max-width: 1440px;
    display: flex;
    margin: auto;

    .mb {
      margin-top: 0;
    }
  }

  .logos-main-container {
    flex-direction: row;

    .logo-container{
      width: 10rem;
      text-align: center;

      img {
        width: 80%;
        height: 80%;
        object-fit: contain;
      }
    }
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 7rem;

    .logo-sm {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      margin: 2rem 0;
      border: 4px solid var.$Strong-Cyan;
      border-radius: 50% ;

      p {
        position: absolute;
        top: 50%;
        color: var.$Strong-Cyan;
        transform: scale(2.7) translateY(-28%);
        font-weight: 600;
      }
    }

    .list-container {
      width: 600px;
      height: 100%;
      ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 0;

        li {
          width: 200px;
          height: 50px;
          list-style: none;
          display: flex;
          align-items: center;

          a {
            text-decoration: none;
            color: var.$Dark-Grayish-Blue;

            &:hover {
              cursor: pointer;
              color: var.$Strong-Cyan;
            }
          }
        }
      }
    }

    .socials-container {
      width: auto;
      height: 7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      img {
        cursor: pointer;
      }
    }
  }

}



