@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

// Primary Colors:

$Strong-Cyan: hsl(171, 66%, 44%);
$Light-Blue: hsl(233, 100%, 69%);

// Neutral Colors:

$Dark-Grayish-Blue: hsl(210, 10%, 33%);
$Grayish-Blue: hsl(201, 11%, 66%);

// Typography:

$Font-size: 18px;
$Family: 'Bai Jamjuree', sans-serif;  // Weights: 400, 600

// Globals:

$ms: 3rem; // Margin Small
$mb: 9rem; // Margin Big

